h1 {
    color: #26547C;
}

th {
    color: #26547C;
}

button {
    background-color: #EF476F;
    color: #FFD166;
}

Link {
    background-color: #EF476F;
    color: #FFD166;
}

body {
    background-color: #fff;
}